.table {
  box-shadow: #000 0 0 3px;
  padding: 20px;
  width: 100%;

  &--test {
    color: red;
  }

  thead {
    text-align: left;
    font-size: 1.2em;
    font-weight: 800;
  }

  tbody td {
    padding: 3px;
    text-align: left;
  }
}
